<%= stylesheet_link_tag 'configuracion_base' %>
<%= stylesheet_link_tag 'jumbotron' %>
<%= stylesheet_link_tag 'nuestra_historia/portada' %>
<%= stylesheet_link_tag 'circulos' %>

<h1>Aqui se podran dejar comentarios</h1>